<html>

<head></head>

<body>
    <h1 id="connection-status" style="color:red">Establishing connection to websocket...</h1>

    <button id="say-hi" style="height: 40px; width: 200px; background-color: aquamarine;" onclick="sayHi();"> Say hi to
        us </button>
    <button id="start-app" style="height: 40px; width: 200px; background-color: rgb(102, 211, 92);"
        onclick="startSimulation();"> Start simulation </button>

    <p id="log"></p>
    <h3 style="color:grey">Our response:</h3>
    <p style="color:blue" id="server-response"></p>


    <p id="multiThreadTest1">Incomplete T1</p>
    <p id="multiThreadTest2">Incomplete T2</p>
    <p id="socket-protocol">Iteration Counter: null</p>
    <div style="flex-direction: row; align-items: flex-start;">
        <button style="height: 40px; width: 200px; background-color: rgb(56, 110, 180);"
            onclick="multiThreadTest1('run');">Run simulation (background thread)</button>
        <button style="height: 40px; width: 200px; background-color: rgb(56, 110, 180);"
            onclick="multiThreadTest2('app/purchase-delay', 3.0);">Set Purchase Delay 3s</button>
        <button style="height: 40px; width: 200px; background-color: rgb(158, 39, 39);"
            onclick="resetTests();">Reset</button>
        <button style="height: 40px; width: 200px; background-color: rgb(238, 203, 6);" onclick="runFullSim();">Run Full
            Sim</button>
    </div>
    <div style="display: flex; align-items: flex-start; flex-direction: column-reverse;">
        <p id="isolated-iteration"></p>
        <p id="full-sim"></p>
    </div>
    <div
        style="display: flex; align-items: flex-start; flex-direction: column-reverse; border-width: 2px; border-color: black; background-color: aliceblue;">
        <ul id="view-socket-events">
        </ul>
    </div>
    <code>{{json}}</code>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
    transactionsCount = 0.0;

    function sayHi() {
        console.debug('sayHi clicked');
        if (socket) {
            socket.emit('message', JSON.stringify({ 'data': 'a message from joey d' }))
        } else if (ws) {
            ws.send(JSON.stringify({ 'type': 'message', 'data': 'a message from joey d' }));
        }
    }

    function startSimulation() {
        console.debug('startSimulation clicked');
        // ws.send(JSON.stringify({ 'type': 'start isolated simulation', 'data': '' }));
        statusEl = document.getElementById('isolated-iteration')
        const params = {

        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params)
        };
        fetch("http://" + document.domain + ":8443/run" + getGemberAPIKEYQueryStr(), options)
            .then(response => {
                try {
                    return response.json(); // read the response  stream using response.json() or response.text()
                } catch (error) {
                    return response.text(); // read the response  stream using response.json() or response.text()
                }
            })
            .then(r => JSON.stringify(r))
            .then(response => {
                console.info(response);
                statusEl.innerText = 'Run Example Iteration call Done -> ' + response;
            });
    }

    function getGemberAPIKEYQueryStr() {
        // return `?GEMBER_API_KEY=9adf915b-7d11-4dd1-a377-0df5267179ed`;
        return '';
    }

    function initGPApp() {

        statusEl = document.getElementById('isolated-iteration')
        const params = {
            'retailer_name': 'Tescos',
            'retailer_strategy': 'COMPETITIVE',
            'retailer_sustainability': 'AVERAGE',
        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params)
        };
        fetch("http://" + document.domain + ":8443/init" + getGemberAPIKEYQueryStr(), options)
            .then(response => {
                try {
                    return response.json(); // read the response  stream using response.json() or response.text()
                } catch (error) {
                    return response.text(); // read the response  stream using response.json() or response.text()
                }
            })
            .then(r => JSON.stringify(r))
            .then(response => {
                console.info(response);
                statusEl.innerText = 'Run Init GPApp call Done -> ' + response;
            });
    }

    function runFullSim() {
        statusEl = document.getElementById('full-sim')
        const params = {
            'maxN': 20,
            'convergence_threshold': 0.1,
        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params)
        };
        fetch("http://" + document.domain + ":8443/run-full-sim" + getGemberAPIKEYQueryStr(), options)
            .then(response => {
                try {
                    return response.json(); // read the response  stream using response.json() or response.text()
                } catch (error) {
                    return response.text(); // read the response  stream using response.json() or response.text()
                }
            })
            .then(r => JSON.stringify(r))
            .then(response => {
                console.info(response);
                statusEl.innerText = 'Run Full Simulation call Done -> ' + response;
            });

    }
    function multiThreadTest1(arg) {
        statusEl = document.getElementById('multiThreadTest1')
        const params = {
            // 'retailer_name': 'Tescos',
            // 'retailer_strategy': 'COMPETITIVE',
            // 'retailer_sustainability': 'AVERAGE',
        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params)
        };
        fetch("http://" + document.domain + ":8443/" + arg, options)
            .then(response => {
                try {
                    return response.json(); // read the response  stream using response.json() or response.text()
                } catch (error) {
                    return response.text(); // read the response  stream using response.json() or response.text()
                }
            })
            .then(r => JSON.stringify(r))
            .then(response => {
                console.info(response);
                statusEl.innerText = arg + ' call Done -> ' + response;
            });

    }
    function multiThreadTest2(arg, delaySecs) {
        statusEl = document.getElementById('multiThreadTest2')
        const params = {

        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params)
        };
        fetch("http://" + document.domain + ":8443/app/purchase-delay/3" + getGemberAPIKEYQueryStr(), options)
            .then(response => {
                try {
                    return response.text(); // read the response  stream using response.json() or response.text()
                } catch (error) {
                    return response.text(); // read the response  stream using response.json() or response.text()
                }
            })
            .then(r => {
                if (typeof (r) == 'string') {
                    return r;
                } else {
                    return JSON.stringify(r);
                }
            })
            .then(response => {
                console.info(response);
                statusEl.innerText = 'purchase-delay Done -> ' + response;
            })
            .catch(e => {
                console.warn(e);
                statusEl.innerText = 'purchase-delay Errored: ' + e.message;
            });
    }
    function resetTests() {
        document.getElementById('multiThreadTest1').innerText = "Incomplete T1";
        document.getElementById('multiThreadTest2').innerText = "Incomplete T2";
    }

    $(document).ready(function () {
        var status_el = document.getElementById('socket-protocol');

        initGPApp();

        // socket = io({ transports: ['websocket'], upgrade: false, namespace:'/' });
        sockets = {}
        sockets['/'] = io({ transports: ['websocket'], upgrade: false });
        sockets['/transactions'] = io('/transactions', { transports: ['websocket'], upgrade: false });
        sockets['/simulation'] = io('/simulation', { transports: ['websocket'], upgrade: false });


        for (let i in Object.values(sockets)) {
            let socket = Object.values(sockets)[i];
            socket.on('connect', function () {
                var conn_status_el = document.getElementById('connection-status');
                conn_status_el.innerText = "Socket.io connected EIO:(" + socket.io.engine.transport.query.EIO + ")";
                socket.emit('my event', { data: 'Vanilla connect.html page is connected to socket.io!' });
                console.info('Connected to socketio on channel: ' + socket.nsp + ' with protocol: ' + socket.io.engine.transport.query.EIO);
                console.debug(socket);
                initGPApp();
            });
            socket.on('disconnect', function () {
                var conn_status_el = document.getElementById('connection-status');
                conn_status_el.innerText = "Socket.io disconnected";
            });
            socket.on('connect_timeout', function () {
                console.warn('Socketio connection to connect.html timed out...');
            });
        }


        messageViewEl = document.getElementById('view-socket-events');

        eventCounts = {}
        let f = function (eventName, namespace = '/') {
            eventCounts[eventName] = 0
            socket = sockets[namespace];
            socket.on(eventName, function (data) {
                const node = document.createElement("li");
                res = {};
                res[eventName] = data;
                const textnode = document.createTextNode(JSON.stringify(res));
                node.appendChild(textnode);
                messageViewEl.appendChild(node);
                eventCounts[eventName] = eventCounts[eventName] + 1
            });
        }

        f('message')
        f('fromServer')
        f('entity updated')
        f('bank transaction completed', '/transactions')
        f('simulation iteration completed', '/simulation')

        socket = sockets['/']

        // if ("WebSocket" in window) {
        //     let ws = false;
        //     try {
        //         ws = new WebSocket("ws://" + document.domain + ":8443/websocket");

        //     } catch (error) {
        //         ws = false;
        //     }
        //     if (ws != false){

        //         ws.on("connect", function(){
        //             console.log('vanilla ws connected');
        //             socket = ws;
        //         });
        //         ws.onmessage = function (msg) {
        //             console.info(msg);
        //             var message = JSON.parse(msg.data);
        //             $("p#log").text(message.data);

        //             if (message.type == 'simulation iteration completed') {

        //                 status_el.innerText = "Iteration number: (" + message.data.iteration_number + ")";
        //             }
        //         };
        //         // Bind send button to websocket
        //         $("button#send").live("click", function () {
        //             ws.send(JSON.stringify({ 'data': 'Sent from my browser!' }));
        //         });
        //     }

        // }
        // else {
        $("button#send").live("click", function () {
            socket.emit("message", JSON.stringify({ 'data': 'Sent from my browser!' }));
        });
        // }


        // Cleanly close websocket when unload window
        window.onbeforeunload = function () {
            if (ws) {
                ws.onclose = function () { }; // disable onclose handler first
                ws.close();
            }
            if (socket) {
                socket.close();
            }
        };


    });
</script>


</html>